################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnionApp/OnionApp.AppServices.Business/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.AppServices.Business/obj
/OnionApp/OnionApp.AppServices.Repository/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.AppServices.Repository/obj
/OnionApp/OnionApp.CrossCutting.Logging/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.CrossCutting.Logging/obj
/OnionApp/OnionApp.Entities/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.Entities/obj
/OnionApp/OnionApp.ExternalServices.Database/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.ExternalServices.Database/obj
/OnionApp/OnionApp.ExternalServices.EventBus/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.ExternalServices.EventBus/obj
/OnionApp/OnionApp.ExternalServices.Storage/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.ExternalServices.Storage/obj
/OnionApp/OnionApp.Services/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.Services/obj
/OnionApp/OnionApp.Ui.Api/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.Ui.Api/obj
/OnionApp/OnionApp.AppServices.Api/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.AppServices.Api/obj
/OnionApp/OnionApp.Domain.Entities/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.Domain.Entities/obj
/OnionApp/OnionApp.Domain.Services/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.Domain.Services/obj
/OnionApp/OnionApp.Infra.Db.MainDb/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.Infra.Db.MainDb/obj
/OnionApp/OnionApp.Infra.EventBus/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.Infra.EventBus/obj
/OnionApp/OnionApp.Infra.Storage/bin/Debug/netcoreapp3.1
/OnionApp/OnionApp.Infra.Storage/obj
